<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Video Game Store</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <!-- <link href="css/heroic-features.css" rel="stylesheet"> -->

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-inverse bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Welcome, <%= username %></a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav nav ml-auto navbar-right">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <%if (username != 'Guest' && username != 'Admin') {%>
            <li class="nav-item">
              <a class="nav-link" href="account">Account</a>
            <%}%>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="" href="">PS4</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="" href="">Xbox One</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="" href="">PC</a>
            </li>
            <%if (username == 'Guest' || username == 'Admin') {%>
            <li class="nav-item">
              <a class="nav-link" href="registration">Login/Register</a>
            </li>
            <%}%>
            <%if (username != 'Guest') {%>
            <li class="nav-item">
              <a class="nav-link" onclick="logout()" href="">Logout</a>
            </li>
            <%}%>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Hello there!</h1>
        <p class="lead">Welcome to our video game store.</p>
        <a href="#" class="btn btn-primary btn-lg">Browse!</a>
      </header>

      <div align='center' style="margin-bottom: 30px;">
        <h2>Top Sellers</h2>
      </div>


      <!-- Page Features -->
      <div class="row text-center">
        <%for (var i = 0; i < sellers.length; i++) { %>
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/500x325" alt="">
              <div class="card-body">
                <h4 class="card-title"><%= sellers[i].name %></h4>
                <a href="#" class="btn btn-primary">More Details</a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="assets/js/user.js"></script>


  </body>

</html>
